<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:3000/tranferRequest" method="post">
        <select id="changeIT" name="from" required>
            <option value="" selected>Sender</option>
            <% for(var i=0;i<myArr.length;i++) {%>
                <option value=<%=i%>><%=myArr[i].userId%>||<%=myArr[i].userName%>
                </option>
                <%}%>
        </select><br>
        <select name="to" required>
            <option value="" selected aria-placeholder="741">Reciver</option>
            <% for(var i=0;i<myArr.length;i++) {%>
                <option value=<%=i%>><%=myArr[i].userId%>||<%=myArr[i].userName%>
                </option>
                <%}%>
        </select><br>
        <input name="Amount" type="number" step="0.01" required>
        <input type="submit" value="Submit!">
    </form>
    <button id="abcd">heyh!</button>
    <%# <script src="./script.js" charset="UTF-8">
        </script> %>
</body>

</html>