<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./Styling/transactionRecords.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="headingBar">
            <a href="/" >
                <span class="material-symbols-outlined homeButton">
                    Home_App_Logo
                </span></a>
            <div class="rowdies-bold"><u>Transaction Records!</u></div>
            <img src="./Styling/img4.png" alt="logo-image" >
        </div>
        <div class="detailDisplay">
            <div>

            </div>
            <div class="detailBlock">
                <div class="blocks1">
                    <div class="sno">S No.</div><div > SenderID</div><div class="name1">SenderName</div><div>ReciverID</div><div class="name1">ReciverName</div><div>TransAmt</div><div>TransStatus</div><div class="date">TransDate</div>
                </div>
                <% for(var i=0;i<logBooks.length;i++) {%>
                    <div class="blocks2" >
                    <div class="sno"><%=logBooks[i].serialNo%></div><div><%=logBooks[i].senderId%></div><div class="name2"><%=logBooks[i].senderName%></div><div><%=logBooks[i].reciverId%>
                    </div><div class="name2"><%=logBooks[i].reciverName%></div><div>₹ <%=logBooks[i].transactionAmount%></div><div><%=logBooks[i].transactionResult%></div><div class="date">
                    <%=logBooks[i].transactionDate%></div>
                   </div>
                    <%}%>
                
            </div>
        </div>
        <div class="footerClass">
            <footer>
                All rights Reserved @TheSparkBank. 2024-25 &nbsp; &nbsp;
            </footer>
        </div>
    </div>


</body>
</html>

